# Ignorar todos os diretórios de mundo
world/
world_nether/
world_the_end/
town_world/
old_cidade_virtual/

# Ignorar o diretório de bibliotecas
libraries/

# Ignorar o diretório de logs
logs/

# Ignorar o diretório de versões
versions/

# Ignorar o diretório de cache
cache/

# Ignorar o diretório de plugins
plugins/

# Ignorar o arquivo paper.jar
paper.jar

# Outros
.console_history
crash-reports/
banned-ips.json
banned-players.json
whitelist.json
usercache.json
ops.json
server.properties
